.main {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main__name-container {
    margin: 0 auto;
    width: 700px;
    text-align: center;
    transition: 200ms ease-in-out;
}

.main__name {
    color: #ffffff;
    font-size: 100px;
    line-height: 100px;
    font-weight: 600;
    letter-spacing: 10px;
    font-family: "Lucida Console", monospace;
    text-shadow: -50px -50px 20px #474747;
    animation: skew 2s ease-in-out infinite;
    transform: skew(20deg);
    animation-direction: alternate;
    transition: 200ms ease-in-out;
}

.main__title-container {
    margin: 50px auto;
    text-align: center;
}

.main__title {
    display: inline-block;
    padding: 0 3px;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 5px;
    font-family: "Lucida Console", monospace;
    color: #ffffff;
    overflow: hidden;
    border-right: 2px solid #000000;
    white-space: nowrap;
    animation: title 3.5s steps(30, end), cursor 750ms step-end infinite;
    transition: 200ms ease-in-out;
}

.main__icon-container {
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-items: center;
}

.main__icon-wrapper {
    width: 25%;
    display: flex;
    justify-content: center;
}

.main__icon {
    position: relative;
    transition: 300ms linear;
    display: flex;
    justify-content: center;
}

.main__tooltip {
    font-size: 15px;
    display: block;
    margin: 2px;
    letter-spacing: 2px;
}

.main__icon a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 0;
}

.main__icon:hover {
    color: #ffffff;
    cursor: pointer;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

@keyframes skew {
    0% {
        transform: skewX(20deg);
    }

    100% {
        transform: skewX(-20deg);
    }
}

@keyframes title {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes cursor {
    from, to {
        border-color: transparent
    }

    50% {
        border-color: #000000
    }
}

@media only screen and (max-width: 800px) {
    .main__name-container {
        width: 500px;
    }

    .main__name {
        font-size: 70px;
        line-height: 70px;
    }

    .main__title {
        font-size: 25px;
    }

    .main__icon-container {
        width: 500px;
    }

    .main__icon-wrapper {
        width: 50%;
        margin: 30px 0;
    }
}

@media only screen and (max-width: 600px) {
    .main {
        padding: 0 10px;
    }

    .main__name-container {
        width: 375px;
    }

    .main__name {
        text-shadow: 0 -50px 20px #474747;
        line-height: 50px;
        font-size: 50px;
    }

    .main__title {
        font-size: 20px;
    }

    .main__icon-container {
        width: 375px;
    }
}

@media only screen and (max-width: 400px) {
    .main {
        padding: 0 5px;
    }

    .main__name-container {
        width: 325px;
    }

    .main__name {
        font-size: 40px;
        line-height: 40px;
    }

    .main__title {
        font-size: 18px;
    }
}